.suggestion-list {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;

    .address-item {
        cursor: pointer;
        padding: 5px;

        p {
           margin: 5px 0;
        }

        &:hover {
            background-color: #eee;
        }
    }
}