$epc-line-height: 55px;

.epc-graph {
  p {
    margin-bottom: 0;
  }

  .line {
    color: white;
    margin-top: 2px;
    text-align: right;
    padding: 10px;
    height: $epc-line-height;

    p {
      margin: 0;
      @include mainFontSemiBold;
      font-size: 140%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }

  .potential-wrapper {
    .line {
      &:first-child {
        width: 80%!important;
      }
      
      &:last-child{
        width: 100%!important;
      }
    }
  }

  .ratings {
    /* Each line */
    .a {
      width: 70%;
      background-color: var(--epc-a)
    }

    .b {
      width: 75%;
      background-color: var(--epc-b)
    }

    .c {
      width: 80%;
      background-color: var(--epc-c)
    }

    .d {
      width: 85%;
      background-color: var(--epc-d)
    }

    .e {
      width: 90%;
      background-color: var(--epc-e)
    }

    .f {
      width: 95%;
      background-color: var(--epc-f)
    }

    .g {
      width: 100%;
      background-color: var(--epc-g)
    }
  }



  .epc-indicator {
    display: flex;

    .epc-arrow {
        display: block;
        width: 0px;
        height: 0px;
        border: 20px solid transparent;
        border-right-color: #ccc;
        border-left-width: 0px;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #ccc;
      @include mainFontSemiBold;
      font-size: 140%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: white;
    }

    &.a {
      .box {
        background-color: var(--epc-a);
      }
      .epc-arrow {
        border-right-color: var(--epc-a);
      }
    }

    &.b {
      margin-top: $epc-line-height;
      .box {
        background-color: var(--epc-b);
      }
      .epc-arrow {
        border-right-color: var(--epc-b);
      }
    }

    &.c {
      margin-top: calc($epc-line-height * 2);

      .box {
        background-color: var(--epc-c);
      }
      .epc-arrow {
        border-right-color: var(--epc-c);
      }
    }

    &.d {
      margin-top: calc($epc-line-height * 3);
    
      .box {
        background-color: var(--epc-d);
      }
      .epc-arrow {
        border-right-color: var(--epc-d);
      }
    }

    &.e {
      margin-top: calc($epc-line-height * 4);

      .box {
        background-color: var(--epc-e);
      }
      .epc-arrow {
        border-right-color: var(--epc-e);
      }
    }

    &.f {
      margin-top: calc($epc-line-height * 5);

      .box {
        background-color: var(--epc-f);
      }
      .epc-arrow {
        border-right-color: var(--epc-f);
      }
    }

    &.g {
      margin-top: calc($epc-line-height * 6);
      
      .box {
        background-color: var(--epc-g);
      }
      .epc-arrow {
        border-right-color: var(--epc-g);
      }
    }
  }

  .rating-wrapper {
    border: 3px solid #979797;
    margin-left: 16px;
  }

  .epc-table-head {
    border-bottom: 3px solid #979797;
 
    div {
      text-align: center;
      padding: 8px;

      &:first-child {
        border-right: 3px solid #979797;
      }
    }
  }

  .epc-table-column {
    padding: 0 8px;

    &:first-child {
      border-right: 3px solid #979797;
    }
  }
}