.line {
  color: white;
  margin-top: 2px;
  text-align: right;
  padding: 10px;

  p {
    margin: 0;
    @include mainFontSemiBold;
    font-size: 140%;
  }

  &.potential-wrapper {

    &:first-child {
      width: 75%;
    }
    
    &:last-child{
      width: 100%!important;
    }
  }
}

/* Each line */
.a {
  width: 70%;
  background-color: rgb(13, 118, 51);
}

.b {
  width: 75%;
  background-color: rgb(21, 143, 50);
}

.c {
  width: 80%;
  transition: all .2s ease-in-out;
  background-color: rgb(114, 174, 42);
}

.d {
  width: 85%;
  background-color: rgb(244, 231, 31);
}

.e {
  width: 90%;
  background-color: rgb(233, 141, 22);
}

.f {
  width: 95%;
  background-color: rgb(231, 80, 23);
}

.g {
  width: 100%;
  background-color: rgb(209, 29, 24);
}
