// ==========================================================================
// # Input
// ==========================================================================

.input {
    border-radius: 55px 0;
    padding: 2% 0 2% 9%;
    background-color: var(--color-gray-700);
    border-color: transparent;
    font-size: 120%;
    @include mainFontSemiBold();

    &::placeholder {
        color: var(--typography-placeholder);
    }

    &__icon {
        position: absolute;
        top: 25%;
        transform: translate(-50%);

        &--right {
            right: 20px;
        }

        &--left {
            left: 40px;
        }
    }

    &--search {
        width: 100%;
        // padding-right: 30px;
        // width: 370px;
    }

}