// ==========================================================================
// # Page Heading
// ==========================================================================

.page-heading {
    color: #0D695C;
    
    @media (max-width: 767px) {
        text-align: center;
    }
    
    &--space {
        &-none {
            padding-bottom: 3px;
        }
        &-md {
            padding-bottom: 47px;
        }
    }

    &--border-bottom {
        & span {
            border-bottom: 7px solid #0D695C;   
            z-index: 8;
        }
    }

}