// ==========================================================================
// # Cheat
// ==========================================================================

 

.no-underline {
    text-decoration-line: none;
}



.rounded {
    &--full {
        border-radius: 9999px;
    }
}


.horizontal-padding {
    padding: 0 20px;
}

.list-wrapper {
    text-align: left;
    ol {
        list-style: number;
        padding: 0;
        margin: 0;

        li {
            padding: px;
        }
    }
}

.semi-bold-content {
    @include mainFontSemiBold();
    font-size: 140%;
}


.text-white {
    color: white;
}

.h-full {
    height: 100%;
}

.text-button {
    @include mainFont();
    font-size: 120%;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 10px;
}

.heading {
    font-size: 160%;
    color: var(--color-green-400);
    @include mainFontSemiBold();
}

.divider {
    position: absolute;
    bottom: -5px;
    background-color: #0D695C;
    border-radius: 5.5px 0;
    width: 100%;
    height: 7px;
}