// ==========================================================================
// # Footer
// ==========================================================================


.footer {
    background-color: #264653;
    color: #FFFFFF;

    @media (min-width: 767px) {
        padding: 0 32px;
    }

    &__section-links {
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    &__section-link {
        width: 100%;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        padding-bottom: 10px;
    }

    &__info {
        margin-bottom: 60px;
    }

    &__copy {
        text-align: center;
    }
}