html, body, #root, #web-body {
    height: 100%;
    overflow: hidden;
    @include mainFont();
}

// wrapper
#web-body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-body);
    color: var(--typography-primary);
}

#web-wrapper {
    flex: 1;
    overflow: auto;
    background: linear-gradient(270deg, rgba(231,111,81,1) 0%, rgba(237,184,103,1) 50%, rgba(17,109,95,1) 100%);;
}


.page-padding {
    padding: 20px 0;
}