// ==========================================================================
// # Base
// ==========================================================================

html, 
body, 
#root {
    height: 100%;
    line-height: 1.5;
    font-weight: normal;
    font-family: "Nunito Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: black;
}

.bg-gradient {
    &--primary {
        background-image: linear-gradient(40.91deg, #264652 0%, #2A9C8E 100%);
    }
    &--secondary {
        background-image: linear-gradient(40.91deg, #E76F51 0%, #F4A261 100%);
    }

    &--teritary {
        background-image: linear-gradient(40.91deg, #F4A261 0%, #E9C469 100%);
    }
}