// ==========================================================================
// # Base
// ==========================================================================

html, 
body, 
#root {
    height: 100%;
    line-height: 1.5;
    font-weight: normal;
    font-family: "Nunito Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 10px;
}