// ==========================================================================
// # Colors
// ==========================================================================

:root {
    // App General Colors
    // ======================================================================
    
    // Green
    // -----------------------
    --color-green-300: #2A9C8E;
    --color-green-400: #0D695C;
    --color-green-500: #0D695C;
    --color-green-800: #264653;

    // Neutral/
    // ------------------------
    --color-gray-200: #FFFFFF;
    --color-gray-700: #F1F1F1;
    --color-gray-800: #E5E5E5;
    // Yellow
    // -------------------------
    --color-yellow-400: #E9C469;
    --color-yellow-600: #F4A261;
    --color-yellow-800: #E76F51;

    // EPC RATINGS
    --epc-a: rgb(13, 118, 51);
    --epc-b: rgb(21, 143, 50);
    --epc-c: rgb(114, 174, 42);
    --epc-d: rgb(244, 231, 31);
    --epc-e: rgb(233, 141, 22);
    --epc-f: rgb(231, 80, 23);
    --epc-g: rgb(209, 29, 24);
}


 

// @media (max-width: 1250px) {
//     :root {
        
//     }
// }

// @media (min-width: 1250px) {
    :root {
    
        // App Main Colors
        // ======================================================================
        --text-primary-500: --color-red-500;
        // --bg-primary-500: var(--color-green-300);


        --background-body: white;
        --background-container: #fdfdfd;
        --background-header: white;
        --typography-header: white;
        --background-button-primary: #E76F51;
        --typography-button-primary: white;
        --typography-placeholder: #7A7A7A;
        --typography-button-secondary: #dddddd;
        --background-button-secondary: #222222;
        --background-button-positive: #0D695C;
        --background-button-negative: #dc3545;
        --typography-primary: #222222;
        --background-form-input: white;
        --background-form-input-disabled: #f7f7f7;
        --background-form-multi-select-option: #eee;
        --stroke-form-input: #cccccc;
        --placeholder-form-input: #cdcdcd;
        --highlight-form: #6a6a6a;
        --highlight-form-error: #ea7b73;
        --active-form-selection: #007bff;
        --background-form-error: rgba(234, 123, 115, 0.18);
        --stroke-table-row: #cccccc;
        --grey-background: #E4E4E4;
    }
// }