// ==========================================================================
// # Fonts
// ==========================================================================
//
// / Table of content
//   - Primary Font
//


// Primary Font
//////////////////////////////////////////////////////////////////////////////
/// 
@mixin mainFont() {
    font-family: "Nunito Sans", sans-serif;
}

@mixin mainFontLight() {
    font-family: "Nunito Sans", sans-serif;
}

@mixin mainFontSemiBold() {
    font-family: "Nunito Sans", sans-serif;
}


// Seconday Font
//////////////////////////////////////////////////////////////////////////////


// Teritary Font
//////////////////////////////////////////////////////////////////////////////
