// button
.button {
    @include mainFont();
    color: var( --typography-button-primary);
    background-color: var( --background-button-primary);

    &.primary {
        color: var( --typography-button-primary);
        background-color: var( --background-button-primary);
    }

    &.secondary {
        color: var( --typography-button-secondary);
        background-color: var( --background-button-secondary);
    }

    &.positive {
        color: var( --typography-button-primary);
        background-color: var( --background-button-positive);
    }

    &.negative {
        color: var( --typography-button-primary);
        background-color: var( --background-button-negative);
    }

    &.winged {
        border-radius: 55px 0;
        box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.26);

        .text {
            white-space: nowrap;
        }
    }
}