.main-card {
    border-radius: 15px;

    &__heading {
        padding: 15px 40px 0;
        display: inline-block;
        background-color: #FFFFFF;
        border-radius: 15px 15px 0 0;
        box-shadow: 5px -5px 4px 0 rgba(0, 0, 0, 0.15);

        &.grey-background {
            background-color: var(--grey-background);
        }
    }
    
    &__content {
        background-color: #FFFFFF;
        border-radius: 0px 15px 15px 15px;
    }
}