// ==========================================================================
// # Process Balls
// ==========================================================================


.processBalls {
    @media (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-chain {
        @media (max-width: 767px) {
            display: none;
        }

        @media (min-width: 767px) {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -250%);
            display: flex;
            align-items: center;
        }
       
        &__inner {
           
            display: flex;
            align-items: center;
           
        }

        &__item {
            border-radius: 50%;
            display: none;

            @media (min-width: 1266px) {
                display: block;
            }
            &--1 {
                &:nth-of-type(1) {
                    height: 8px;
                    width: 8px;
                    background-color: #68A982;
                }
                &:nth-of-type(2) {
                    height: 11px;
                    width: 11px;
                    background-color: #E0C26B;
                }
                &:nth-of-type(3) {
                    height: 15px;
                    width: 15px;
                    background-color: #F0AD64;
                }
            }

            &--2 {
                &:nth-of-type(1) {
                    height: 8px;
                    width: 8px;
                    background-color: #E87352;
                }
                &:nth-of-type(2) {
                    height: 11px;
                    width: 11px;
                    background-color: #F1975D;
                }
                &:nth-of-type(3) {
                    height: 15px;
                    width: 15px;
                    background-color: #E0C26B;
                }
            }

            &--3 {
                &:nth-of-type(1) {
                    height: 8px;
                    width: 8px;
                    background-color: #E0C26B;
                }
                &:nth-of-type(2) {
                    height: 11px;
                    width: 11px;
                    background-color: #F0AD64;
                }
                &:nth-of-type(3) {
                    height: 15px;
                    width: 15px;
                    background-color: #68A982;
                }
            }
        }
    }

    &__item {
        @media (max-width: 767px) {
            margin: 0 auto 75px;
        }

        position: relative;
        text-align: center;
        width: 100%;

        

        &:nth-of-type(1) .processBalls__icon-wrap {
            background-image: linear-gradient(40.91deg, #264652 0%, #2A9C8E 100%);    
        }
        &:nth-of-type(2) .processBalls__icon-wrap {
            background-image: linear-gradient(40.91deg, #E76F51 0%, #F4A261 100%);
        }
        &:nth-of-type(3) .processBalls__icon-wrap {
            background-image: linear-gradient(40.91deg, #F4A261 0%, #E9C469 100%);
        }
        &:nth-of-type(4) .processBalls__icon-wrap {
            background-image: linear-gradient(40.91deg, #264652 0%, #2A9C8E 100%);    
        }
        &:nth-of-type(5) .processBalls__icon-wrap {    
            background-image: linear-gradient(40.91deg, #E76F51 0%, #F4A261 100%);
        }
    }

    &__icon-wrap {
        @media (max-width: 767px) {
            margin: auto auto 30px;
        }

        padding: 25px;
        height: 198px;
        width: 198px; 
        margin-bottom: 20px;
        vertical-align: middle;
        text-align: center; 

        p {
            margin: 0;
            color: white;
        }
    }

    &__icon {
        fill: white;
        height: 100%;
    }
}