.tooltip {
    z-index: 10;
    font-size: 14px;
    width: auto;
    position: absolute;
    right: 100%;
    padding: 8px;
    top: 0;
    bottom: 0;

    background-color: #FFFFFF;
    border-radius: 0 80.5px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.2);
    // whitespace-nowrap    h-fit translate-x-full bg-gray-700 top-0 bottom-0
}