// ==========================================================================
// # User Avatar
// ==========================================================================

.userAvatar {
    
    &__image {
        border: 1px solid #407175;
        border-radius: 9999px;
        height: 45px;
        width: 45px;
        background-color: #265153;
    }

    &__placeholder-avatar {
        height: 100%;
        width: 100%;
        padding: 10px;
        fill: white;
    }

    &__menu {
        visibility: hidden;
        background: white;
        z-index: 1000;
        position: absolute;
        bottom: -25px;
        &.is-open {
            visibility: visible;
        }
    }
}