// ==========================================================================
// # Page Home
// ==========================================================================


.page-home {
    &__banner-img {
        height: 270px;
        @media (min-width: 767px) {
            height: 470px;

        }
        margin: 70px 0;
        object-fit: cover;
    }
}