// ==========================================================================
// # Rounded
// ==========================================================================

.rounded {
    &--primary {
        border-radius: 55px 0;
    }
    &--secondary {
        border-radius: 165px 0;
    }
    &--full {
        border-radius: 9999px;
    }
}