// ==========================================================================
// # Accordion
// ==========================================================================

.accordionTwo {
    &-item {
        padding-bottom: 20px;
        
        &__header {
            border-bottom: 1px solid #e8e8e8;
        
        }

        &__trigger {
            background-color: transparent;
            width: 100%;
            padding: 16px;
            @media (min-width: 767px) {                
                padding: 15px 15px 0;
            }
        }

        &__icon {
            color: #007768;

            .chevron {
                margin-left: 35px;
                &.up {
                    transform: rotate(-180deg);
                    transition: transform 0.3s ease-in-out;
                }

                &.down {
                    transform: rotate(0deg);
                    transition: transform 0.3s ease-in-out;
                }
            }
        }
        
        &__content {
            padding-top: 32px;
            padding: 16px;
            @media (min-width: 767px) {
                padding: 0 55px;
                padding-bottom: 32px
            }
        }
    }
}