// ==========================================================================
// # Accordion
// ==========================================================================

.accordionOne {
    &-item {
        &__header {
            border: none;
        }

        &__trigger {
            background-color: transparent;
            width: 100%;
            padding: 16px;

            @media (min-width: 767px) {                
                padding: 25px 55px;
            }
        }

        &__icon {
            color: #007768;
        }
        
        &__content {
            padding-top: 32px;
            padding: 16px;
            @media (min-width: 767px) {
                padding: 0 55px;
                padding-bottom: 32px
            }
        }
    }
}